PORT=3002
USER_SERVICE_URL=http://localhost:3000

# Переменные для PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=new_blog_db

# Переменные для pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=adminpassword123

JWT_SECRET=my-secret-key
JWT_EXPIRES_IN=1h

RABBIT_HOST=localhost
RABBIT_PASSWORD=test
RABBIT_PORT=5672
RABBIT_USER=admin
RABBIT_QUEUE=typoteka_post_queue
RABBIT_EXCHANGE=typoteka.posts

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:root@localhost:5432/new_blog_db?schema=public"

# docker compose --file ./apps/blog-service/docker-compose.dev.yml --env-file ./apps/blog-service/.env --project-name "typoteka-blog" up -d
